/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, section, article, h1, h2, p, a, input {
   margin: 0;
   border: 0;
   padding: 0;
   font: inherit;
   text-align: inherit;
   text-decoration: inherit;
   color: inherit;
   background: transparent;
 }

 body{
   background-color: #f7f5f2;
   padding-top: 0;
   /*padding: 19.2px;*/
   font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
 }

/*input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"] {
  -webkit-appearance: none;
  display: inline-block;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: auto;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
}*/

input[type="submit"] {
  display: inline;
  cursor: pointer;
  text-align: center;
}

 .group:after {
  content: "";
  display: block;
  clear: both;
}
