.campaign-title{
  font-size: 32px;
  text-align: center;
  padding-top: 35px;
}

.campaign-author{
  text-align: center;
  margin: 12px;
  margin-bottom: 35px;
  font-size: 14px;
}

.big-stats{
  font-size: 48px;
  font-weight: bold;
  display: block;
  margin-top: 8px;
}

.small-stat-labels{
  color: rgb(128, 128, 158);
  font-size: 14px;
  font-weight: normal;
}

.show-description{
  font-size: 22px;
  width: 680px;
}

.show-location {
  display: inline-block;
  padding: 39px 0 39px 0;
}

.preview-video, .campaign-show-stats{
  display: inline-block;
}

.preview-video{
  margin-bottom: 6px;
}

.info-video{
  margin-left: 70px;

}

.campaign-show-stats{
  overflow: hidden;
  margin-left: 40px;
}

#back-project-button{
  width: 158px;
  margin-bottom: 0;
  margin-top: 45px;
  padding: 19px;
  font-size: 16px;
}

.campaign-body, .bottom-container{
  width: 1075px;
  margin: auto;
}

.about-body{
  width: 680px;
}

.about-p{
  line-height: 24px;
}

.about-container{
  padding-top: 50px;
  // display: inline-block;
  float: left;
}



.about-title{
  padding-bottom: 50px;
}

.bottom-background{
  background-color: white;
  padding-bottom: 20px;
}

.campaign-container{
  // background-color: #F7F7F9;
  border: 1px solid #f1eeea;
  padding-bottom: 26px;
}

.reward-title{
  font-size: 22px;
  display: inline-block;
  padding-bottom: 50px;
}

.reward-item {
    margin-bottom: 20px;
    font-size: 14px;
    color: #020621;
    display: block;
    background: #F8F9FD;
    border: 1px solid #e0e4fb;
    border-radius: 6px;
    position: relative;
    word-break: break-word;
    padding: 20px;
    cursor: pointer;
}

.reward-item:hover, .campaign-list-item:hover{
  background-color: #e3e8fd;
  transition: background-color 0.5s;
  transform: scale(1.03);
  transition: all .3s ease-in-out;
  border-color: rgb(88, 107, 233);

}

.selected-reward-radio{
  background-color: #e3e8fd;
  border: 1px solid rgb(88, 107, 233);
  & > .reward-radio > input {
    border-color: rgb(88, 107, 233);
    transition: all .3s ease-in-out;
  }
  & > .reward-input > form > input{
    border-color: rgb(88, 107, 233);
    transition: all .3s ease-in-out;
  }
}




.reward-column {

  width: 317.984px;
  position: relative;

}

.pledge-reward-column {

  width: 680px;
  position: relative;

}

.rewards-container{
  padding-top: 50px;
  padding-left: 40px;
  float: left;
  display: inline-block;
}

.reward-min {
  color: rgb(88, 107, 233);
  font-size: 18px;
  margin-bottom: 20px;
}

.reward-item-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.reward-item-description {
  color: rgb(128, 128, 158);
  font-size: 14px;
  margin-bottom: 20px;

}

.reward-delivery-label{
  color: rgb(128, 128, 158);
  font-size: 10px;
}

.reward-backer-label{
  margin-top: 20px;
  color: rgb(128, 128, 158);
  font-size: 12px;
}

.pledge-form-container{
  margin: auto;
  width: 1085px;
  // background: white;
}

.pledge-rewards-container{
  width: 680px;
  // background-color: yellow;
  padding: 20px;
  padding-top: 60px;
  float: left;
}

.pledge-sidebar-container{
  padding: 20px;
  // background-color: blue;
  float: left;
  padding-top: 60px;
}

.pledge-form-body{
  border-top: 1px solid #f1eeea;
  background: white;
}

.bold-16{
  font-weight: bold;
  font-size: 16px;
}

.bold-14{
  font-weight: bold;
  font-size: 14px;
}
.bold-12{
  font-weight: bold;
  font-size: 12px;
}
.reg-14{
  font-size: 14px;
}
.reg-12{
  font-size: 12px;
}

.pad-bottom-3{
  padding-bottom: 3px;
}
.pad-bottom-9{
  padding-bottom: 9px;
}
.pad-bottom-28{
  padding-bottom: 28px;
}

.pledge-warning-container, .campaign-form-sidebar-container{
  width: 299.98px;
  padding: 10px;
  & > p, & > a{
    line-height: 18px;
  }
  & > a{
    color: rgb(39, 82, 255);
    font-size: 12px;
    border-bottom: 1px solid rgb(39, 82, 255);
  }
  & > a:hover{
    color: black;
    font-size: 12px;
    border-bottom: 1px solid black;
  }
}

input[type="radio"]{
  border: 1px solid #E6E4E2;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
}

.reward-input {
  & > form > input{
    background-color:rgb(255, 255, 255);
    border-radius: 6px;
    border: 1px solid rgb(224, 228, 251);
    box-sizing:border-box;
    display:inline-block;
    font-size:16px;
    font-weight:bold;
    height:40px;
    letter-spacing:1px;
    line-height:20px;
    list-style-position:outside;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:40px;
    padding-top:10px;
    position:relative;
    width: 134.5px;
  }
}

.reward-radio {
  & > input, & > .radio-min {
    float: left;
    margin-right: 20px;
  }
}

.pad-left{
  padding-left: 40px;
}

.pledge-form-header > .campaign-title {
  cursor: pointer;
}

.comment-toggle-bar{
  height: 63px;
  border-bottom: 1px solid #f1eeea;
}

.link-section{
  color: rgb(61, 61, 102);
  &>ul{
    margin-top: 20px;
  }
  &>ul>li{
    float: left;
    padding: 10px 10px 10px 0;
  }
  &>ul>li>a{
    border: 1px solid rgb(230, 228, 226);
    border-radius: 2px;
    padding: 5px
  }
}


.comment-toggle-button{
  float: left;
  padding: 20px;
  padding-left: 0;
  border-bottom: 4px solid white;
  padding-right: 0;
  margin-right: 40px;
}

.comment-toggle-button-container{
  margin: auto;
  width: 1075px;
  // padding: 23px;
}

.comment-toggle-selected{
  // font-weight: bold;
  border-color: #2BDE73;
  transition: border-color 0.3s;
}

.choose-campaign, .choose-comments{
  cursor: pointer;
}

#submit-comment-button{
  width: 66px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  background-color: #0c5d6b;
}

.comment-box{
  display: block;
}

.comment-form{
  border-bottom: 1px solid #E6E4E2;
  width: 535px;
  margin-bottom: 40px;
  padding-bottom: 14px;
}

.comment-list-item{
  background-color: #e8f5f1;
  margin-bottom: 40px;
  padding: 10px;
  width: 500px;
  border: 1px solid #E6E4E2;
  // border-radius: 6px;
}

.comment-photo{
  height:50px;
  width: 50px;
  border-radius: 50%;
  // background-color: red;
  border: 1px solid black;
}

.comment-user-info-container{
  text-align: center;
  // background-color: blue;
  float: left;
  padding-bottom: 30px;
  padding-right: 30px;
  margin-right: 20px;
}

.comment{
  font-size: 18px;
  padding-bottom: 5px;
}

.navbar-input{
  margin: auto;
  width: 426px;
}


.campaign-index-container{
  width: 1086px;
  margin: auto;
  margin-top: 53px;
}

.category-filter{
  font-size: 48px;
  font-weight: 200;

  // -webkit-appearance: none;
  &>div{
    float:left
  }
}
.filter-dropdown{

}

.category-filter-container{
  margin-left: 17px;
  &>select{
    font-style: italic;
  }
}
.category-container{
  padding: 44px;
  padding-top: 2px;
  background-color: #8871b5;
  border-bottom: 2px solid black;
}

.search-container{
  height: 38px;
  width: 100%;
  background-color: #8871b5;
}

.index-title{
  color: rgb(6, 35, 64);
  font-size: 22px;
  padding-left: 19px;
}
