// Place all the styles related to the Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.small-campaign-item {
  width: 319.94px;
  height: 450px;
  border-radius: 7px;
  background-color: white;
  border: 1px solid #f1eeea;
  margin: 20px;
  float: left;
}

.project-thumbnail-img {
  border-radius: 7px 7px 0 0;
}

.small-campaign-title {
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  margin: 7px;
}
