// Place all the styles related to the Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.small-campaign-item {
  width: 319.94px;
  height: 450px;
  border-radius: 7px;
  background-color: white;
  border: 1px solid #f1eeea;
  margin: 20px;
  float: left;
}

.project-thumbnail-img {
  border-radius: 7px 7px 0 0;
}

.small-campaign-title {
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
}

.small-campaign-name {
  font-size: 12px;
  margin-bottom: 10px;
}

.campaign-info-container-small{
  padding: 10px;
}

.project-stats{
  font-size: 13px;
}

.marker {
  width: 12px;
}

.location > li{
  margin-bottom: 0;
  margin-right: 3px;
}

.marker > img{
  width: 100%;
  height: auto;
}

.small-blurb{
  height: 135px;
}

.project-stats-item{
  display: inline-block;
  margin-right: 7px;
}

.project-stats-value{
  font-weight: bold;
}

.project-progress-bar{
  background-color:rgb(241, 238, 234);
  border-bottom-color:
  rgb(61, 61, 102)
  ;
  border-bottom-left-radius:
  3px
  ;
  border-bottom-right-radius:
  3px
  ;
  border-bottom-style:
  none
  ;
  border-bottom-width:
  0px
  ;
  border-image-outset:
  0px
  ;
  border-image-repeat:
  stretch
  ;
  border-image-slice:
  100%
  ;
  border-image-source:
  none
  ;
  border-image-width:
  1
  ;
  border-left-color:
  rgb(61, 61, 102)
  ;
  border-left-style:
  none
  ;
  border-left-width:
  0px
  ;
  border-right-color:
  rgb(61, 61, 102)
  ;
  border-right-style:
  none
  ;
  border-right-width:
  0px
  ;
  border-top-color:
  rgb(61, 61, 102)
  ;
  border-top-left-radius:
  3px
  ;
  border-top-right-radius:
  3px
  ;
  border-top-style:
  none
  ;
  border-top-width:
  0px
  ;
  color:
  rgb(61, 61, 102)
  ;
  display:
  block
  ;
  font-family:
  "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif
  ;
  font-size:
  12px
  ;

  height:
  6px
  ;
  line-height:
  18px
  ;
  margin-bottom:
  10px
  ;

  overflow-x:
  hidden
  ;
  overflow-y:
  hidden
  ;

  vertical-align:
  baseline
  ;
  width:
  297.984px
  ;
  -webkit-font-smoothing:
  antialiased
  ;
}
.project-percent-pledged {

  background-color:
  rgb(43, 222, 115)
  ;
  border-bottom-color:
  rgb(61, 61, 102)
  ;
  border-bottom-style:
  none
  ;
  border-bottom-width:
  0px
  ;
  border-image-outset:
  0px
  ;
  border-image-repeat:
  stretch
  ;
  border-image-slice:
  100%
  ;
  border-image-source:
  none
  ;
  border-image-width:
  1
  ;
  border-left-color:
  rgb(61, 61, 102)
  ;
  border-left-style:
  none
  ;
  border-left-width:
  0px
  ;
  border-right-color:
  rgb(61, 61, 102)
  ;
  border-right-style:
  none
  ;
  border-right-width:
  0px
  ;
  border-top-color:
  rgb(61, 61, 102)
  ;
  border-top-style:
  none
  ;
  border-top-width:
  0px
  ;
  color:
  rgb(61, 61, 102)
  ;
  display:
  block
  ;
  font-family:
  "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif
  ;
  font-size:
  12px
  ;

  height:
  6px
  ;
  line-height:
  18px
  ;

  vertical-align:
  baseline
  ;
  width:
  122.047px
  ;
  -webkit-font-smoothing:
  antialiased
  ;
  };


  // CAMPAIGN FORM

  .textarea {

  border-bottom-color:
  rgb(218, 215, 212)
  ;
  border-bottom-left-radius:
  6px
  ;
  border-bottom-right-radius:
  6px
  ;
  border-bottom-style:
  solid
  ;
  border-bottom-width:
  1px
  ;

  border-left-color:
  rgb(218, 215, 212)
  ;
  border-left-style:
  solid
  ;
  border-left-width:
  1px
  ;
  border-right-color:
  rgb(218, 215, 212)
  ;
  border-right-style:
  solid
  ;
  border-right-width:
  1px
  ;
  border-top-color:
  rgb(218, 215, 212)
  ;
  border-top-left-radius:
  6px
  ;
  border-top-right-radius:
  6px
  ;
  border-top-style:
  solid
  ;
  border-top-width:
  1px
  ;
  box-sizing:
  border-box
  ;
  color:
  rgb(2, 6, 33)
  ;
  cursor:
  auto
  ;
  display:
  inline-block
  ;
  flex-direction:
  column
  ;
  font-family:
  "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif
  ;
  font-size:
  14px
  ;
  font-stretch:
  normal
  ;
  font-style:
  normal
  ;
  font-variant:
  normal
  ;
  font-weight:
  normal
  ;
  height:
  70px
  ;
  letter-spacing:
  normal
  ;
  line-height:
  18px
  ;
  list-style-image:
  none
  ;
  list-style-position:
  outside
  ;
  list-style-type:
  none
  ;
  margin-bottom:
  0px
  ;
  margin-left:
  0px
  ;
  margin-right:
  0px
  ;
  margin-top:
  0px
  ;
  padding-bottom:
  10px
  ;
  padding-left:
  10px
  ;
  padding-right:
  10px
  ;
  padding-top:
  10px
  ;
  resize:
  none
  ;
  text-align:
  start
  ;
  text-indent:
  0px
  ;
  text-rendering:
  auto
  ;
  text-shadow:
  none
  ;
  text-transform:
  none
  ;
  vertical-align:
  top
  ;
  white-space:
  pre-wrap
  ;
  width:
  449px
  ;
  word-spacing:
  0px
  ;
  word-wrap:
  break-word
  ;
  zoom:
  1
  ;
  -webkit-appearance:
  none
  ;
  -webkit-font-smoothing:
  antialiased
  ;
  -webkit-rtl-ordering:
  logical
  ;
  -webkit-user-select:
  text
  ;
  }

  // SELECT BOX

  .category-select{
    align-items:
center
;
background-attachment:
scroll
;
background-clip:
border-box
;
background-color:
rgb(255, 255, 255)
;
background-image:
image-url("select-large.png")
;

background-repeat: no-repeat;
background-position-x: 98%;
background-position-y: center;

background-size:
auto
;
border-bottom-color:
rgb(218, 215, 212)
;
border-bottom-left-radius:
6px
;
border-bottom-right-radius:
6px
;
border-bottom-style:
solid
;
border-bottom-width:
1px
;
border-image-outset:
0px
;
border-image-repeat:
stretch
;
border-image-slice:
100%
;
border-image-source:
none
;
border-image-width:
1
;
border-left-color:
rgb(218, 215, 212)
;
border-left-style:
solid
;
border-left-width:
1px
;
border-right-color:
rgb(218, 215, 212)
;
border-right-style:
solid
;
border-right-width:
1px
;
border-top-color:
rgb(218, 215, 212)
;
border-top-left-radius:
6px
;
border-top-right-radius:
6px
;
border-top-style:
solid
;
border-top-width:
1px
;
box-sizing:
border-box
;
color:
rgb(2, 6, 33)
;
cursor:
default
;
display:
inline-block
;
font-family:
"Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif
;
font-size:
14px
;
font-stretch:
normal
;
font-style:
normal
;
font-variant:
normal
;
font-weight:
normal
;
height:
40px
;
letter-spacing:
normal
;
line-height:
18px
;
list-style-image:
none
;
list-style-position:
outside
;
list-style-type:
none
;
margin-bottom:
15px
;
margin-left:
0px
;
margin-right:
0px
;
margin-top:
15px
;
overflow-x:
visible
;
overflow-y:
visible
;
padding-bottom:
10px
;
padding-left:
7px
;
padding-right:
9px
;
padding-top:
10px
;
text-align:
start
;
text-indent:
0px
;
text-rendering:
auto
;
text-shadow:
none
;
text-transform:
none
;
white-space:
pre
;
width:
449px
;
word-spacing:
0px
;


zoom:
1
;
-webkit-appearance:
none
;
-webkit-font-smoothing:
antialiased
;
-webkit-rtl-ordering:
logical
;
}

.description > textarea {
  height: 300px;
}

.preview-image {
  width: 605px;
  // height: 40px;
  overflow: hidden;
  margin-bottom: 12px;
  border: 3px solid black;
}

.small-blurb{
  overflow: hidden;
}
