.header {
  // background: #f00;
  // border-bottom: 3px solid #333;
}
.header-wrap {
  width: 1000px;
  margin: auto;
  padding-left: 100px;
}

.header-logo > a:hover {
  background: #333;
}
.header-nav {
  float: right;
  width: 100%
}
.header-nav > ul {
}
.header-nav > ul > li {
  position: relative;
  float: left;
}
.header-nav > ul > li > a {
  display: block;
  padding: 20px 20px;
}
.header-nav > ul > li:hover > a {
  background: #2BDE73;
}
.header-nav-drop-down {
  display: none;
  position: absolute;
  left: -3px;
  border: 3px solid #333;
  background: #fff;
  width: 300px;
}
.header-nav > ul > li:hover > .header-nav-drop-down {
  display: block;
}
.header-nav-drop-down > li {
  border-top: 3px solid #333;
}
.header-nav-drop-down > li:first-child {
  border-top: 0;
}
.header-nav-drop-down > li > a {
  display: block;
  padding: 5px 10px;
  color: #333;
}
.header-nav-drop-down > li:hover > a {
  background: #ccc;
}
.header-nav-badge {
  display: inline;
  background: #333;
  padding: 2px 5px;
  border-radius: 15px;
  font-size: 12px;
}
.header-nav > ul > li:hover .header-nav-badge {
  background: #f00;
}
