

.header-wrap {
  width: 941px;
  margin: auto;
  &>ul>li{
    float: left;
    padding: 22px;
    border-bottom: 3px solid white;
  }
  &>ul>a{
    float: left;
    border-bottom: 3px solid white;
    padding: 4px;
  }
  &>ul>li:hover,&>ul>a:hover{
    border-color: #2BDE73;
    transition: border-color 0.3s;
  }
}
.nav-bar{
  height: 65px;
}



.header-wrap{
  position: relative;
}

.dropdown{
  height: 199px;
  width: 291px;
  position: absolute;
  background-color: yellow;
  right: 0px;
  top: 65px;
  opacity: 0.5;
}

.hidden-overflow{
  overflow: hidden;
}
