/*html, body, section, article, h1, h2, p, a, input {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}*/
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small, select {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font: inherit;
 color: inherit;
 text-align: inherit;
 text-decoration: inherit;
 vertical-align: inherit;
 box-sizing: inherit;
 background: transparent;
 /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
   Helvetica, Arial, "Lucida Grande", sans-serif;
 font-weight: 700;*/
 -webkit-font-smoothing: antialiased;
}

ul {
 list-style: none;
}

img {
 display: block;
 width: 100%;
 /*height: auto;*/
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
input[type="select"],
textarea,
button {
 -webkit-appearance: none;
 -moz-appearance: none;
}



/*button,
input[type="submit"] {
 cursor: pointer;
}*/

body{
  background-color: #f7f5f2;
  padding-top: 0;
  /*padding: 19.2px;*/
  /*font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;*/
  font-family: "Helvetica Neue", Helvetica, 'Roboto', Arial, "Liberation Sans", FreeSans, sans-serif;
}

.background-campaign-show{
  background-color: #F7F7F9;
}


button, input[type="submit"] {
 display: inline;
 cursor: pointer;
 text-align: center;
}

.group:after {
 content: "";
 display: block;
 clear: both;
}
