

.input-form {
  margin: auto;
  margin-top: 57px;
  border: 1px solid #f1eeea;
  width: 402px;

  border-radius: 3px;
  background-color: white;
}

.login-form {
  height: 536px;
}

.signup-form{
  height: 714px;
  margin-bottom: 40px;
}

.campaign-form{
  height: 1714px;
  margin-bottom: 40px;
  width: 800px;
}

.nav-logo {
  position: absolute;
  left: 50%;
  top: 30px;
  transform: perspective(1px) translate(-50%, -50%);

}


.form-padding{
  padding: 20px;

}


.check {
  display: table;
  width: 100%;
}

.check .check-box {
    padding-right: 10px;
}

.check .check-box, .check .check-body {
    display: table-cell;
    vertical-align: middle;
}

.check .check-body {
    width: 100%;
}

.nav-bar{
  display: block;
  background-color: white;
  height: 60px;
  z-index: 1000;
  box-shadow: 0 9px 22px -9px #d2d2d2;
}

.footer {
  display: block;
  background-color: #020621;
  height: 300px;
  border-top: dashed 1px #2BDE73;
  color: #80809E;
  font-size: 14px;
  margin-top: 62px;
  margin-bottom: 0px;
}

/* line 19, /Users/Abramson/Desktop/KickRestarter/app/assets/stylesheets/sessions.scss */
.input > input{
  display: block;
  border: 1px solid #dad7d4;
  padding: 10px;
  width: 286px;
  border-radius: 6px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 342px;
  font-size: 14px;
  outline: 0;
}





.submit > input {
  background-color: #2bde73;
  border: none;
  color: white;

  display: block;
  padding: 10px;
  width: 286px;
  border-radius: 6px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 344px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.5s;
}

.forgot {
  font-size: 13px;
}
/* line 30, /Users/Abramson/Desktop/KickRestarter/app/assets/stylesheets/sessions.scss */
.input > input:focus {
  border-color: #9c0;
}


#remember-label{
  padding: 5px;
  color: #3D3D66;
  font-size: 14px;
}

#newsletter-label{
  color: #3D3D66;
  font-size: 14px;
}

#facebook-button{
  background-color: #3b5998;
}

.line {
    height: 1px;
    background-color: #F1EEEA;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

#login-button:hover, #back-project-button:hover {
  background-color: #1db95c;
  transition: background-color 0.5s;
}


.form-label {
  font-size: 32px;
  // font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  margin-bottom: 37px
}

.never-post{
  color: #3D3D66;
  text-align: center;
  font-size: 12px;
}

.login-footer{
  border-top: 1px solid #F1EEEA;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  margin-top: 30px;
  color: #3D3D66;
}

.signup-link{
  font-weight: bold;
  padding: 5px;
}
