.login-box{
  display: table;
  margin: auto;
  border: 5px solid black;
  width:400px;
  height: 600px;
}

.input-text, .button{
  background-color: yellow;
  width: 300px;
  margin: auto;
  display: inline;
}
