.profile-picture-container{
  width: 200px;
  height:200px;
}
.profile-icon-container{
  width: 52px;
  height:52px;
  padding-top: 0;
}
.profile-picture-container, .profile-icon-container{
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  // float: right;
  border: 1px solid #f1eeea;
}
.profile-container{
  margin: 50px;
}
#icon{
  padding: 4px;
}

.profile-pledge-index{
    display: inline-block;
    margin:auto;
}

.user-pledge{
  border: 1px solid #dfdcda;
  border-radius: 6px;
  text-align: center;
  padding: 5px;
  margin: 12px;
  margin-left: 37px;
  background-color: #f8f9fd;
}
