<!DOCTYPE html>
<html>
<head>
  <title>KickRestarter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if @current_user %>
  <h2><% @current_user.username %></h2>
<% else %>
  <h2>LOGIN</h2>
<% end %>
<%= yield %>

</body>
</html>
